:root {
    --cor-de-fundo: #006400;
    --branco: #FFFFFF;
    --azul: #006400;
    --botao-ativo: #8B4513;
    --botao-inativo: #228B22;
    --texto-fundo: #FFFF;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span {
    color: var(--azul);
}
 
.botao {
    font-family: 'Chakra Petch', sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
}

.botao:first-child {
    border-radius: 40px 40px 0 0;
}

.botoes {
    display: block;
}

.ativo {
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--azul);
}

@media screen and(min-width: 768px){
    .botoes {
        display: flex;
        }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }
}

.botao:last-child {
    border-radius: 0 40px 0 0;
}